<section class="flex flex-col justify-center px-10">
	<h2 class="mb-6 text-2xl font-bold">Contact</h2>

	<p class="mb-6 text-sm">
		For more information on my work or to schedule an interview, contact me at my email below.
	</p>

	<a href="mailto:qiuyuhan66@gmail.com" class="mb-4 underline"> qiuyuhan66@gmail.com </a>

	<a href="https://linkedin.com/in/your-link" class="underline"> LinkedIn </a>
</section>
