---
const name = 'Yuhan Qiu';
const cvLink = '/YuhanQiu_CV_Firmware.pdf'; // 放在 public/ 目录
---

<h1 class="text-neutral-600 mt-1 text-xs underline">
	<!-- Name -->
	{name}
</h1>

<!-- Download CV -->
<a
	href={cvLink}
	target="_blank"
	rel="noopener"
	class="mt-2 text-sm underline underline-offset-4 hover:text-orange"
>
	Download CV
</a>
