---
import Button from '@components/ui/Button.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{ title: 'About', path: '#about' },
	{ title: 'Projects', path: '#projects' },
	{ title: 'Contact', path: '#contact' },
];
---

<header class="flex h-20 items-center">
	<Astronav class="flex w-full items-center justify-between">
		<!-- 左侧 -->
		<Button size="sm">Download CV</Button>

		<!-- 右侧 -->
		<MenuItems class="hidden lg:flex">
			<ul class="flex gap-8 text-sm font-medium">
				{
					menuitems.map((item) => (
						<li>
							<a href={item.path} class="hover:text-orange">
								{item.title}
							</a>
						</li>
					))
				}
			</ul>
		</MenuItems>

		<!-- Mobile -->
		<div class="lg:hidden">
			<MenuIcon class="h-5 w-5" />
		</div>
	</Astronav>
</header>
