---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Yuhan Qiu | Electrical Engineering' } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title={title}
			description="Electrical engineering, robotics, and embedded systems portfolio."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon_pure.svg`} />
	</head>

	<!-- ❗Layout = 透明外壳，不控制宽度 -->
	<body class="bg-white font-sans text-black">
		<!-- Navbar 可以有 padding，但不限制 max-width -->
		<Navbar />

		<!-- 页面内容完全交给 index.astro 控制 -->
		<slot />

		<Footer />

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
