---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<SEO title="Yuhan Qiu | Electrical Engineering" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body class="bg-white text-black">
		<!-- Navbar -->
		<header class="border-neutral-200 border-b">
			<div class="mx-auto max-w-screen-xl px-6">
				<Navbar />
			</div>
		</header>

		<!-- Main content -->
		<main>
			<div class="mx-auto max-w-screen-xl px-6">
				<slot />
			</div>
		</main>

		<Footer />
	</body>
</html>
